<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668530602020-4ip07j540j655bb63mq41knv3ise1rl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668530602020-4ip07j540j655bb63mq41knv3ise1rl6</string>
	<key>API_KEY</key>
	<string>AIzaSyCmGLKSwQNDFWLJEDV_V06R3PuGiecOmT0</string>
	<key>GCM_SENDER_ID</key>
	<string>668530602020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.banaka.monkey.toe</string>
	<key>PROJECT_ID</key>
	<string>banakamonkey</string>
	<key>STORAGE_BUCKET</key>
	<string>banakamonkey.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:668530602020:ios:6002edc0071d09d1</string>
	<key>DATABASE_URL</key>
	<string>https://banakamonkey.firebaseio.com</string>
</dict>
</plist>
